<%- include('../partials/head') %>
<body>
    <!-- aqui va el header o el menu -->
    <header>
        <%- include('../partials/header') %>
    </header>

<main>
    
<!-- ----------- detalle del carrito comppras ---------- -->
<section class="small-container cart-page">
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Sub total</th>
        </tr>

        <tr>
            <td>
                <div class="cart-info">
                    <img src="recursos/img/buy-1.png">
                    <div>
                        <p>Traba puerta</p>
                        <small>Precio: $1500</small>
                        <br>
                        <a href="">Cancelar</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
                <td>$1500</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="recursos/img/buy-2.png">
                    <div>
                        <p>Traba puerta</p>
                        <small>Precio: $2500</small>
                        <br>
                        <a href="">Cancelar</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
                <td>$2500</td>
        </tr>
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$4000</td>
            </tr>
            <tr>
                <td>IVA</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$4000</td>
            </tr>
        </table>
    </div>
</section>


<!-- aqui va el footer -->
<footer>
    <%- include('../partials/footer') %>
</footer>

<script defer src="recursos/js/app.js"></script>
<script defer src="recursos/js/accout.js"></script>
<script defer src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script defer src="recursos/js/head.menu.js"></script>

</body>

</html>