/* Reseteamos los margin y padding background */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-clip: border-box;
}

body {
  width: calc(100vw - (100vw - 100%));
}