<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <a href="/"><img src="/recursos/img/logo.png"></a>
                </div>
                <div class="footer-col-2">
                    <h3>Me encontras en</h3>
                    <ul>
                        <li>Córdoba - Argentina</li>
                        <li>0351 - 155555555</li>
                        <li>decoideas@decoideas.com</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Redes Sociales</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li> . </li>
                    </ul>

                </div>
            </div>
            <hr>
            <p class="copyright">©Copyright 2023. Todos los derechos reservados.</p>
        </div>
        
    </div>
</footer>
