    <header>
        <div class="container">
          <div class="navbar">
            <div class="logo">
              <a href="/"><img src="/recursos/img/logo.png" width="140px" /></a>
            </div>
            <nav>
              <ul id="menu">
                <li><a href="/">Inicio</a></li>

                <li><a href="/#my_productos" >Productos</a></li>
                
                <li><a href="/#ofertas" >Ofertas</a></li>
                
                <li ><a href="/login" >Registro</a></li>

              </ul>
            </nav>

            

            <a href="/cart"><img src="/recursos/img/cart.png" width="30px" height="30px"/></a>
            <img
              src="/recursos/img/menu.png"
              class="menu-icon"
              onclick="menutoggle()"
            />
          </div>
        </div>
      </header>
      